//=============== Normalize =============//
header{
    float: left;
    overflow: visible;
    position: relative;
    width: 100%;
    z-index: 1000;
    margin-bottom: 60px;
}
html,
body {
  margin:0;
  padding:0;
  height:100%;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
button:focus {outline:0 !important;}


hr {
  border: 0;
  border-top: 1px solid #dce0e0;
}

.fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

//=============== Theme color ===============//

.themeColor1{
  color:#D46120
}


//================= modal  =================//

.modal {
  margin-top: 140px;
    text-align: left;
    vertical-align: middle;
}

.modalButtonBox{
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.modalButtonBox2{
    width: 170px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.modalButtonBox3{
    width: 220px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.AuthForm{
  input{
    border-radius: 5px;
    margin-bottom: 10px;
    width: 180px;
    padding: 5px 10px 5px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #00B7FF;
  }
}




//=============== Nav Bar ===============//

.navButton{
  border-width: 0;
  padding: 10px;
  width: 100px;
  color: #C0CAD2;
  background-color: rgba(255, 255, 255, 0);
  text-transform: capitalize;
}

.loginbutton{
    border-width: 0;
    float: right;
    padding: 5px;
    margin-right: 30px;
    width: 80px;
    border-radius: 10px;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #56c2f0;
    text-transform: capitalize;
}

.loginbutton:hover{
  transition: background-color 0.2s;
  background-color: #1B6585;
}


.bigheaderlogin{
    transition: margin-top 0.3s;
    margin-top: 30px;

}

.smallheaderlogin{
    transition: margin-top 0.3s;
    margin-top: 15px;
}

.bigheader{
    transition: height 0.3s;
    position: fixed;
    background-color: rgba(57, 61, 71, 0.95);
    z-index: 10;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    height: 110px;
    .logo{
    transition: height 0.3s;
    height: 110px;
    padding: 15px;
    margin-left: 20px;
  }
}

.smallheader{
    transition: height 0.3s;
    position: fixed;
    background-color: rgba(57, 61, 71, 0.95);
    z-index: 10;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    height: 70px;
    .logo{
    transition: height 0.3s;
    height: 70px;
    padding: 10px;
    margin-left: 20px;
  }
}
//================ Home  ================//

.homepage {
  .CarouselBoxIn{
    padding-top: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  .CarouselBoxOut{
    width: inherit;
    background-color: rgba(0, 0, 0, 0.76);
  }
  .bannerImg{
    width: 100%;
  }
  min-height: 2000px;
}
//================ Footer  ================//


.footer {
    width:100%;
    left:0;
    bottom: 0;
    height: 150px;
    background-color: #393d47;
    color: #ECECEC;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    .footer-divider{
      margin-top: 30px;
      margin-bottom: 20px;
      border-color: rgba(255,255,255,0.2);
    }
    .footerTitle{
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    .footer-container{
      margin: 5px;
      display: block;
      height: 36px;
      width: 36px;
      border-color: white;
      border-width: 1px;
      border-style: solid;
      border-radius: 50%;
      text-align: center;
    }
    .footer-container:hover{
      background-color: black;

    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
      padding: 0 5px;
      color: white;
    }
    i{
      margin-top: 9px;
      color: white;
    }
}



