//=============== Normalize =============//
header{
    float: left;
    overflow: visible;
    position: relative;
    width: 100%;
    z-index: 1000;
    margin-bottom: 60px;
}
html,
body {
  margin:0;
  padding:0;
  height:100%;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
button:focus {outline:0 !important;}


hr {
  border: 0;
  border-top: 1px solid #dce0e0;
}

.fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

//=============== Theme color ===============//

.themeColor1{
  color:#D46120
}


//================= modal  =================//

.modal {
  margin-top: 140px;
    text-align: left;
    vertical-align: middle;
}

.modalButtonBox{
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.modalButtonBox2{
    width: 170px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.modalButtonBox3{
    width: 220px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.AuthForm{
  input{
    border-radius: 5px;
    margin-bottom: 10px;
    width: 180px;
    padding: 5px 10px 5px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #00B7FF;
  }
  button{
    width: 100%;
    color: #ffffff;
    border: 1px solid #136084;
    background: #136084;
    padding: 15px 20px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.5em;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in ease-out;
    -moz-transition: all 0.2s ease-in ease-out;
    -o-transition: all 0.2s ease-in ease-out;
    transition: all 0.2s ease-in ease-out;
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}




//=============== Nav Bar ===============//

.navButton{
  border-width: 0;
  padding: 10px;
  width: 100px;
  color: #C0CAD2;
  background-color: rgba(255, 255, 255, 0);
  text-transform: capitalize;
}

.loginbutton{
    border-width: 0;
    float: right;
    margin-right: 30px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #56c2f0;
    text-transform: uppercase;
    cursor: pointer;
}

.loginbutton:hover{
  transition: background-color 0.2s;
  background-color: #1B6585;
}


.bigheaderlogin{
    font-size: 16px;
    transition: 0.3s;
    margin-top: 20px;
    width: 100px;
    padding: 8px;

}

.smallheaderlogin{
    transition: 0.3s;
    margin-top: 6px;
    width: 70px;
    font-size: 12px;
    padding: 4px;
}

.bigheader{
    transition: height 0.3s;
    position: fixed;
    background-color: rgba(57, 61, 71, 0.95);
    z-index: 10;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    height: 70px;
    .logo{
      margin-top: 5px;
      transition: height 0.3s;
      height: 60px;
      margin-left: 20px;
    }
}

.smallheader{
    transition: height 0.3s;
    position: fixed;
    background-color: rgba(57, 61, 71, 0.95);
    z-index: 9999;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    height: 40px;
    .logo{
    transition: height 0.3s;
    height: 30px;
    margin-left: 20px;
  }
}
//================ Home  ================//

.homepage {
  .CarouselBoxIn{
    padding-top: 70px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    .carousel-title{
      font-size: 60px;
      color: white;
      text-shadow: 0 1px 20px #313E45;
    }
  }
  .CarouselBoxOut{
    width: inherit;
    background-color: rgba(0, 0, 0, 0.76);
  }
  .bannerImg{
    width: 100%;
  }
  min-height: 2000px;
  height: 1000px;

  .imageLocation{
      color: #09D4FF;
      font-size: 15px;
      float: right;
      position: absolute;
      bottom: 10%;
      right: 2%;
    }
    .carousel-caption{
      right: 0%;
      left: 0%;
      top: 35%;
      background-color: rgba(0, 0, 0, 0.27);
      height: 200px;
    }


  .aboutSection{
    height: 30%;
    background-color: rgba(227, 227, 227, 0.4);

      .urgentcause-gallery > div {
        padding: 0 0.5px;
        margin-bottom: 1px;
      }

      .urgentcause-gallery a img {
        width: 100%;
      }
      .urgentcause-gallery a {
        float: left;
        width: 100%;
      }
      .urgentcause-gallery {
        float: left;
        width: 100%;
      }
      .aboutImgs{
        float: right;
        margin-top: 100px;
      }
      .aboutText{
        float: left;
        margin-top: 100px;
      }
      .aboutTitle{
        font-size: 20px;
        margin-bottom: 30px;
      }
      .aboutP{
        font-family: arimo;
        color: #505050;
        line-height: 28px;
        letter-spacing: 0.3;
      }
  }


}
//================ Footer  ================//


.footer {
    width:100%;
    left:0;
    bottom: 0;
    height: 150px;
    background-color: #393d47;
    color: #ECECEC;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    .footer-divider{
      margin-top: 30px;
      margin-bottom: 20px;
      border-color: rgba(255,255,255,0.2);
    }
    .footerTitle{
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    .footer-container{
      margin: 5px;
      display: block;
      height: 36px;
      width: 36px;
      border-color: white;
      border-width: 1px;
      border-style: solid;
      border-radius: 50%;
      text-align: center;
    }
    .footer-container:hover{
      background-color: black;

    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
      padding: 0 5px;
      color: white;
    }
    i{
      margin-top: 9px;
      color: white;
    }
}



